*{
  text-decoration: none;
  color:white;
}
.msges{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  
}
.msgesText{
  padding-top: 24px;
  text-align: center;
}
@media screen and (orientation:landscape){
  .App{flex-direction: column;justify-content: space-between;}
  .CardFace,.CardBack{width:58%;height: calc(80vw / 1.7)}
  .Controls,.Messages{
    padding-top:24px;
    flex-direction: row;
    width: 58%;
    height: 80px;
  }
  .close{
    width:28px;
    height:28px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    position:fixed;
    bottom:0px;
    right:calc(50vw - 24px);
  }
  .langChange{
    position:absolute;
    top:20px;
    left:32px;
  }
  
}
@media screen and (orientation:portrait){
  .App{flex-direction: column;justify-content: center;align-items: center;margin-top:-70px;}
  .CardFace,.CardBack{width:80%;height: calc(90vw / 2.05);margin-top:70%;}
  .Controls,.Messages{
    flex-direction: row;
    width: 80%;
    height: 80px;
    bottom:4px;
  }
  .langChange{
    position:absolute;
    top:24px;
    left:24px;
  }
  .close{
    width:28px;
    height:28px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    position:fixed;
    bottom:4px;
    right:calc(50vw - 16px);
  }
 
}


@media only screen 
  and (min-device-height: 414px) 
  
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .CardFace,.CardBack{width:70%;height: calc(80vw / 1.8)}
}
@media only screen 
  and (min-device-height: 414px) 
  and (max-device-height: 736px) 
  and (orientation:portrait)
  {
    .CardFace,.CardBack{width:80%;height: calc(80vw / 1.8)}
}
/* @media only screen 
  and (min-device-width: 414px) 
  and (min-device-height:812px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .CardFace,.CardBack{width:80%;height: calc(80vw / 1.8)}
} */
@media only screen 
  and (min-device-height: 812px) 
  
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .CardFace,.CardBack{width:80%;height: calc(80vw / 1.8)}
    .Controls,.Messages{
      flex-direction: row;
      width: 80%;
      bottom:4px;
      height: 80px;
    }
}
 
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .CardFace,.CardBack{width:80%;height: calc(80vw / 1.8)}
    .Controls,.Messages{
      flex-direction: row;
      width: 80%;
      height: 80px;
      bottom:4px;
    }
    .msges,.svg{
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      
    }
    .msgesText{
      padding-top: 60px;
      text-align: center;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation:portrait) {
    .CardFace,.CardBack{margin-top:250px;}
    
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation:portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .CardFace,.CardBack{margin-top:300px;}
    
}
.App{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90vw;
  height: 90vh;
}

.CardFace,.CardBack{
  background:white;
  border-radius: 12px;
  box-shadow: 0px 12px 32px -10px #000;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;

}
.langChange{
  width:38px;
  height: 26px;
  box-shadow: 0px 12px 24px -8px #000;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.CardFaceRu{background-image: url('./Images/vcard_rus.svg');}
.CardFaceEn{background-image: url('./Images/vcard_eng.svg');}
.CardBack{display:none;}
.Controls,.Messages{
  display: flex;
  justify-content: space-between;
}
.flagRu{
  background-image: url('./Images/ru.svg');
}
.flagEn{
  background-image: url('./Images/um.svg');
}
.Tgm{background-image: url('./Images/telegram.svg');}
.Vbr{background-image: url('./Images/viber.svg');}
.Whp{background-image: url('./Images/whatsapp.svg');}
.Mail{background-image: url('./Images/email.png');}



.close{
  background-image: url('./Images/close.png');
}
.svg_text{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  align-content:center;
  text-align:center;
}
.svg,.msges{
  width:38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}
.wbut{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  align-content:center;
  font-size:1rem;
}
.phone{
  background-image: url('./Images/call.png');
  
}
.add{
  background-image: url('./Images/add.png');
}
.write{
  background-image: url('./Images/write.png');
}
.msges,.close,.svg{
  box-shadow: 0px 12px 24px -10px #000;
}