*{
  text-decoration: none;
  color:white;
}
@media screen and (orientation:landscape){
  .App{flex-direction: row;}
  .CardFace,.CardBack{width:60%;height: calc(60vw / 2)}
  .Controls,.Messages{
    flex-direction: column;
    width: 30%;
    height: 90%;
  }
  .close{
    right:0;
    top:calc(50% - 34px);
  }
}
@media screen and (orientation:portrait){
  .App{flex-direction: column;}
  .CardFace,.CardBack{width:100%;height: calc(100vw / 2)}
  .Controls,.Messages{
    flex-direction: row;
    width: 100%;
    height: 30%;
  }
  .close{
    bottom:0;
    left:calc(50% - 34px);
  }
}

.App{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90vw;
  height: 90vh;
}

.CardFace,.CardBack{
  background:white;
  border-radius: 12px;
  box-shadow: 0px 12px 32px -10px #000;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;

}
.CardFace{background-image: url('./Images/vcard.jpg');}
.CardBack{background-image: url('./Images/vcard_b.png');}
.CardBack{display:none;}
.Controls,.Messages{
  display: flex;
  justify-content: space-between;
}
.wbut,.close{
  width:68px;
  height:68px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.Tgm{background-image: url('./Images/telegram.svg');}
.Vbr{background-image: url('./Images/viber.svg');}
.Whp{background-image: url('./Images/whatsapp.svg');}
.Mail{background-image: url('./Images/email.png');}
.Phn{background-image:url('./Images/phone.png');}
.Msg{background-image:url('./Images/mess.png');}
.AddContact{background-image: url('./Images/add.png');}
.AddContact::before{
  content:'Добавить';

}
.Phn::before{
  content:'Позвонить';
}
.Msg::before{
  content: 'Написать';
}
.AddContact::before,.Phn::before,.Msg::before{
  margin-top:72px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 68px;
  color:#555555;
  text-transform: uppercase;
}
.msges{
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.close{
  background-image: url('./Images/close.png');
  position: fixed;

}