*{
  text-decoration: none;
  color:white;
}
@media screen and (orientation:landscape){
  .App{flex-direction: column;justify-content: space-between;}
  .CardFace,.CardBack{width:60%;height: calc(60vw / 2)}
  .Controls,.Messages{
    flex-direction: row;
    width: 100%;
    height: 128px;
  }
  
}
@media screen and (orientation:portrait){
  .App{flex-direction: column;}
  .CardFace,.CardBack{width:90%;height: calc(90vw / 2)}
  .Controls,.Messages{
    flex-direction: row;
    width: 100%;
    height: 128px;
  }
 
}

.App{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90vw;
  height: 90vh;
}

.CardFace,.CardBack{
  background:white;
  border-radius: 12px;
  box-shadow: 0px 12px 32px -10px #000;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;

}
.CardFace{background-image: url('./Images/vcard_rus.svg');}
.CardBack{display:none;}
.Controls,.Messages{
  display: flex;
  justify-content: space-between;
}
.close{
  width:48px;
  height:48px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.Tgm{background-image: url('./Images/telegram.svg');}
.Vbr{background-image: url('./Images/viber.svg');}
.Whp{background-image: url('./Images/whatsapp.svg');}
.Mail{background-image: url('./Images/email.png');}


.msges{
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.close{
  background-image: url('./Images/close.png');
}
.svg_text{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  align-content:center;
  text-align:center;
}
.svg{
  width:50px;
}
.wbut{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  align-content:center;
  font-size:1rem;
  border-bottom:2px solid white;
}
.langChange{
  position:fixed;
  top:0;
}